@include flo-responsive-image-bg(".flo-block-faq-block-2");

.flo-block-faq-block-2 {
  $b: ".flo-block-faq-block-2";

  @include global-bgi-cover;

  position: relative;

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__title {
    text-align: center;
    position: relative;
  }
  &__faq-slider {
    position: relative;
    overflow: hidden!important;
    & .slick-list {
      overflow: visible;
    }
  }
    &__faq-slide {
    }
      &__faq-slide-content {
        display: flex;
        text-align: center;
      }
        &__single-qa {
        }
          &__question {
          }
          &__answer {

            & p:last-child {
              margin-bottom: 0;
            }

          }

  &__navigation {
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__faq-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    &__current-item-number {
      align-self: flex-start;
    }
    &__number-divider {
      height: 1px;
      border-bottom: 1px solid;
      border-color: inherit;
      margin: rem-calc(3) 0;
    }
    &__total-item-number {
      align-self: flex-end;
    }

    &__arrow {

      &--left {
      }
      &--right {
      }

    }

  @include breakpoint(medium up) {

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: rem-calc(87);
    padding-left: $global-column-width;
    padding-right: $global-column-width;
    padding-bottom: rem-calc(100);

    &__title {
      margin-bottom: rem-calc(116);
    }
    &__faq-slider {
    }
      &__faq-slide {
      }
        &__faq-slide-content {
        }
          &__questions-wrap {
            flex-grow: 1;
            min-height: rem-calc(549);
            margin-right: rem-calc(139);
          }
            &__single-qa {
              margin-bottom: rem-calc(60);
            }
              &__question {
                width: 50%;
                padding: 0 $global-column-width / 4;
              }
              &__answer {
                width: 50%;
                padding: 0 $global-column-width / 4;
              }

    &__navigation {

      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: rem-calc(51);

      &--hide {
        display: none;
      }

    }
    &__faq-counter {
      margin: 0 rem-calc(140);
    }
      &__current-item-number {
      }
      &__number-divider {
        width: rem-calc(180);
      }
      &__total-item-number {
      }


    &__arrow {

      font-size: rem-calc(8);

      &--left {
      }
      &--right {
      }

      &:hover {
        transform: scale(1.1)!important;
      }

      @include global-transition(transform);
      @include global-clickable;

    }
  }

  @include breakpoint(small only) {

    padding: rem-calc(20);

    &__image-overlay {

      &--hide {
        display: none;
      }
    }

    &__title {
      margin-bottom: rem-calc(50);
    }

    &__faq-slider {
      margin-bottom: rem-calc(50);
    }
      &__faq-slide {
      }
      &__faq-slide-content {
        flex-direction: column;
      }
        &__question {
          margin-bottom: rem-calc(20);
        }
        &__answer {
        }

    &__navigation {
      position: relative;
      justify-content: space-between;
    }

    &__faq-counter {
      width: 50%;
    }
      &__current-item-number {
      }
      &__number-divider {
        width: 100%;
      }
      &__total-item-number {
      }

    &__arrow {

      font-size: rem-calc(10);
      &--left {
      }
      &--right {
      }

    }
  }
}
