.flo-block-slideshow-2 {
  $b: ".flo-block-slideshow-2";

  &__slides {

  }

  &__navigation {

  }
    &__arrow {
      font-size: rem-calc(12);
    }
    &__dots {

    }

  @include breakpoint(medium up) {
    &__slides {

    }

    $gap_between_nav_items: rem-calc(24);

    &__navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: rem-calc(39);
    }
      &__arrow,
      &__dots li
      {
        font-size: rem-calc(7);
      }
      &__arrow {

        @include global-transition(transform);
        @include global_clickable();

        &:hover {
          transform: scale(1.1);
        }

        &--prev {
          margin-right: $gap_between_nav_items;
        }
        &--next {
          margin-left: $gap_between_nav_items;
        }
      }
      &__dots {
        ul {
          display: flex!important;
        }
          li {

            &:not(:last-child) {
              margin-right: $gap_between_nav_items;
            }

            & button {
              font-family: inherit;
              color: inherit;
            }
          }
      }
  }

  @include breakpoint(small only) {

    &__slides,
    &__slide img {
      // height: rem-calc(275);
    }
    &__height-auto img{
      margin: 0!important;
    }
    &__navigation {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
      &__arrow, &__dots {
        padding: rem-calc(20) 0;
      }
      &__dots {
        ul {
          display: flex!important;
          align-items: center;
        }
          li {
            margin: 0 rem-calc(5);
          }
      }
  }
}
