.flo-page-head{
  $b: '.flo-page-head';
  $gap-side: rem-calc(40);

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: calc(100% - #{$gap-side*2});
  margin: 0 auto;

  &--with-border{
    border-bottom: 1px solid $color-gray-light;
  }

  &__dropdown{
    visibility: hidden;

    .flo-dropdown-menu{
      height: 100%;
    }
  }

  &--has-dropdown-menu{
    #{$b}__dropdown{
      visibility: visible;
    }
  }

  &__decoration-image{
    display: inline-block;
    max-width: rem-calc(88.8);
    margin-bottom: rem-calc(20);
  }
  &__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: rem-calc(15);
    letter-spacing: 1em;
    text-transform: uppercase;
    text-align: center;
  }

  @include breakpoint(medium up){

    &__title{
      width: 60%;
      padding: rem-calc(43) 0;
    }

    &__left-side{
      width: 20%;
    }
    &__dropdown{
      width: 20%;
    }
    .flo-dropdown-menu__btn{
      margin-left: auto;
    }

  }

  @include breakpoint(small only){
    $gap-side: rem-calc(30);
    flex-direction: column;
    align-items: center;
    width: calc(100% - #{$gap-side*2});
    padding-top: rem-calc(43);
    margin-bottom: rem-calc(40);

    .flo-dropdown-menu__btn{
      padding: rem-calc(23) 0 rem-calc(43);
    }
  }


}
