.flo-block-button {
  $b: ".flo-block-button";
  text-align: center;
  &__button {
    display: inline-block;
    padding: rem-calc(16) rem-calc(33);
    line-height: 1em!important;
    border: 1px solid;
    @include global-transition(color,background-color);
  }
  @include breakpoint(medium up) {
    &__button {
    }
  }

  @include breakpoint(small only) {
    &__button {
    }
  }
}
