.acf-field-font-style-select  {
  user-select: none;
}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown dt div { display:inline-block; padding-right:20px; border: 1px solid #eeeeee;
                 width:250px; outline:none; line-height: 2em;}
.dropdown dt div span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul {
    display:none;

    position: absolute;
    top: 0px;
    left: 0;

    max-height: 300px;
    width: 340px;

    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #eeeeee;

    left: 0px;
    padding: 5px 0px;

    list-style: none;
    z-index: 200;
    padding: 0;
}
.dropdown span.value { display:none;}
.dropdown dd ul li{
    margin: 0;
    overflow: hidden;
    width: 100%;
    padding: 15px 10px;
    border-left: 3px solid #fff;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    @include global-transition(border-color);
}
.dropdown dd ul li:hover{
    border-left-color: $color-orange;
}
.dropdown dd ul li:last{
    border-bottom: 0px;
}
.dropdown dd ul li a {
  padding:5px;
  display:block;
  position: relative;
  cursor: pointer;
  span {
    @include global-transition(color);
  }
}
.arrow-down{
    width: 0px !important;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    padding: 0px !important;
    position: absolute;
    right: 9px;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
div.selected-style{
    position: relative;
    margin-right: 15px;
    // margin-bottom: 10px;
}


.default-css-selector-hint{
    font-style: italic;
    color: #888;
}

.css-selector-block{
    display: none;
}
.advanced-font-style-select{
    position: relative;
    top: -10px;
    cursor: pointer;
    border-bottom: 1px solid;
    color: $color-orange;
}
.acf-field-font-style-select .font-style-select{
    margin-top: 0px;
    dt {
      display: flex;
      align-items: center;
    }
}
.acf-field-font-style-select .font-style-select li span, .acf-field-font-style-select .selected-f-style span{
    line-height: 1;
    overflow: hidden;
    @include global-transition(color);
}

.acf-field-font-style-select .closed, .acf-field-font-style-select .oppened{
    position: relative;
    top: -10px;
    cursor: pointer;
    color: $color-orange;
}
.acf-field-font-style-select .oppened{
    display: none;
}

.edit-current-font-style{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border: 1px solid $color-black;
    $size: 22px;
    width: $size;
    height: $size;
    border-radius: $size;
    font-size: 13px;
    outline: 0;
    box-shadow: none;

    @include global-transition(color, background-color, border-color);
    &:hover {
      color: white;
      border-color: $color-orange;
      background-color: $color-orange;
    }
}
