/*--styles--*/
.relacon {
  position: relative;
}
.mw {
  margin: 0 auto;
  max-width: 30em;
  padding-left: 1em;
  padding-right: 1em;
}
header.flo-typography {
  padding: 3em 0;
  text-align: center;
  text-transform: uppercase;
}
header.flo-typography h1 {
  color: #0099ee;
}
header.flo-typography h2 {
  font-weight: 300;
}
header.flo-typography h1,
header.flo-typography h2 {
  padding: 0;
  margin: 0;
}
.contentwrap {
  padding: 2em 0;
  background: #f7f7f9;
}
.fontselect {
  justify-content: center;
  align-items: center;
  left: 1em;
  top: 1em;
}
h1.flo-typography {
  display: inline-block;
  flex: 1 1;
  margin: 1em;
}
.jdfs-main {
  margin: 1em;
  display: inline-block;
}
.footerwrap {
  background: #393939;
}
footer.flo-typography {
  text-align: center;
  padding: 5em 0;
}
footer.flo-typography a {
  color: #f7f7f9;
}
a.flo-typography {
  color: black;
  display: inline-block;
  margin: 0 .5em;
  text-decoration: none;
}
a.flo-typography:hover {
  color: #0099ee;
}

/*style custom fonts*/
.flo-custom-fonts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 15px;
}
.flo-fonts-container .titledesc{
    width: 300px;
    flex: 0 0 39%;
    padding-right: 80px;
    box-sizing: border-box;
}

.titledesc label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
}
.flo-fonts-container .flo-type-font-uploader{
    flex: 1 0 60%;
}
.flo-font-button{
    font-size: 10px;
    border: 1px solid #ebebeb;
    padding: 8px 15px;
    height: 32px;
    border-radius: 20px;
    cursor: pointer;
}
.flo-font-wrapper{
    border: 1px solid #eeedeb;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;

}

.flo-font-entry{
    padding: 5px 20px 5px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flo-font-entry:nth-child(odd){
    background-color: #fff;
}
.flo-font-entry:nth-child(even){
    background-color: #f8f7f5;
}
.flo-font-entry-format-wrapper{
    display: flex;
    flex-direction: column;
}
.flo-font-entry-format span{
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1.3px;
}
.flo-delete-font{
    font-size: 10px;
    border: 1px solid;
    border-radius:10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: #000;
    margin-top: 4px;
    margin-left: 8px;
}
// .flo-delete-font:before{
//     margin-left: 0.5px;
// }
.flo-delete-font:hover{
    color: red;
}


/*font-style*/
.font-style-sample{
    padding: 10px 30px 10px 15px;
    background: #f1f1f1;
    position: relative;
}
.font-style-title{
    font-size: 20px;
    margin-top: 30px;
    position: relative;
    display: block;
}


/* The Modal (background) */
.font-styles-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.font-styles-modal .modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #c5c5c5;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.6s;
    animation-name: fadeIn;
    animation-duration: 0.6s;
    min-height: 300px;
    height: 95%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    overflow-y: scroll;

}
.common-options{
    /*border: 1px solid #dddddd;*/
    border-bottom: 0px;
}
.common-options label{
    margin-top: 15px;
    display: block;

}
.font-styles-modal .wp-picker-input-wrap input[type="text"]{
    max-width: 80px;
}
.font-styles-modal .left-side,
.font-styles-modal .right-side{
    width:49%;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 20px;
}
.option-label{
    display: block;
}
.font-styles-modal .op-block{
    width:33%;
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;

}
.state-font-style{
    margin:30px 0;
}
.state-font-style p{
    margin-top: 0;
}
.acf-field .font-styles-modal input[type="text"],
.acf-field .font-styles-modal select{
  width: 300px;
}

/* Add Animation */
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 20px;
    margin-right: -15px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: #fff;
    background-color: #23282d;

}
.modal-header h2{
    color: #fff;
}

.modal-body {padding: 0px 16px 2px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.open-modal,.delete-font-style{
    position: absolute;
    right: 0px;
    top: 9px;
    display: none;
    cursor: pointer;
}
.delete-font-style{
    right: 35px;
}

.font-style-sample:hover .open-modal,.font-style-sample:hover .delete-font-style{
    display: block;
}

.add-cutom-font-style{
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
}
