.flo-block-item-title-1 {
  $b: ".flo-block-item-title-1";

  &__back-button-wrap {

  }
    &__back-button {

    }
  &__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
    &__title {
      margin-bottom: rem-calc(12);
    }
    &__category {

      & a:not(:last-child):after {
        content: ", ";
      }
      
    }
  &__social-links-wrap {
    a {
      font-size: rem-calc(12);
      &:not(:first-child) {
        margin-left: rem-calc(12);
      }
    }
  }


  @include breakpoint(medium up) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__back-button-wrap {
      width: 20%;
    }
      &__back-button {

      }
    &__title-wrap {
    }
      &__title {

      }
      &__category {

      }
    &__social-links-wrap {
      width: 20%;
      text-align: right;
    }

  }

  @include breakpoint(small only) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem-calc(20);
    &__back-button-wrap {
      margin-bottom: rem-calc(20);
    }
      &__back-button {

      }
    &__title-wrap {
      margin-bottom: rem-calc(20);
    }
      &__title {

      }
      &__category {

      }
    &__social-links-wrap {

    }

  }
}
