$color-white: white;
$color-black: #1c1c1c;
$color-gray: #ededed;
$color-gray-2: #b3b3b3;
$color-gray-light: #f8f8f8;
$color-gray-dark: #d8d8d8;
$color-gray-dark-2: #8d8d8d;
$color-gray-dark-3: #828282;
$color-peach: #f8f7f5;
$color-peach-dark: #ebeae9;
$color-orange: #ec6042;
$color-pastel-blue: #e9f0f2;
$color-brown: #b7946d;

/* Start: Fonts */

  // Start: Imports
    @import url('slick.css');
    @import url('../fonts/fontello/css/flo-admin-icons.css');
  // End: Imports

  // Start: Local Fonts
    @font-face {
      font-family: 'Miller Banner';
      src: url('../fonts/MillerBanner-Light.eot'); /* IE9 Compat Modes */
      src: url('../fonts/MillerBanner-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('../fonts/MillerBanner-Light.woff') format('woff'), /* Modern Browsers */
           url('../fonts/MillerBanner-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('../fonts/MillerBanner-Light.svg#98c131f9fb31f732b136f87e64ff686a') format('svg'); /* Legacy iOS */

      font-style:   normal;
      font-weight:  300;
    }
  // End: Local Fonts

  // Start: Google Fonts
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
  // End: Google Fonts

  $font-admin-icons: "flo-admin-icons";
  $font-miller-banner: "Miller Banner", sans;
  $font-open-sans: 'Open Sans', sans-serif;


/* End: Fonts */

/* Start: Global Admin Font Styles */
  .flo-acf-label {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .acf-flexible-content .values + .acf-actions {
	  z-index: 3;
  }
/* End: Global Admin Font Styles */

/* Start: Transitions */
  $global-transition-speed: 0.24s;
  $global-easing: cubic-bezier(0.445, 0.050, 0.550, 0.950);

  @mixin global-transition($transitions...) {
    $s: $global-transition-speed;
    $unfoldedTransitions: ();
    @each $transition in $transitions {
      $unfoldedTransitions: append($unfoldedTransitions, $transition + " " + $s, comma)
    }
    transition: $unfoldedTransitions;
    transition-timing-function: $global-easing;
  }
/* End: Transitions */

@import "common.scss";


// Only for users not devs
body:not(.post-type-acf-field-group):not(.wp-customizer) {
  /* START: ON LOAD ANIMATION - CSS */
    .postbox.acf-postbox {
      display: none;
    }
  /* END: ON LOAD ANIMATION - CSS */

  /* Start: Radio Image Select */
    .flo-image-select  {
      .acf-radio-list {

      }
      &--no-titles {
        label {
          font-size: 0;
        }
      }
      &--columns-1,
      &--columns-fixed
      {
        ul {
          li {
            width: 100%!important;
            padding-right: 0 !important;
          }
        }
      }
      &--columns-2 {
        li {
          width: calc(100% / 2) !important;
        }
      }
      &--columns-3 {
        li {
          width: calc(100% / 3) !important;
        }
      }
      &--columns-4 {
        li {
          width: calc(100% / 4) !important;
        }
      }
      &--columns-5 {
        li {
          width: calc(100% / 5) !important;
        }
      }
      &--columns-8 {
        li {
          width: calc(100% / 8) !important;
        }
      }
    }

      .flo-image-select li {
        display: inline-block!important;
        vertical-align: top;
        padding-right: 25px!important;
        box-sizing: border-box;
        width: calc(100% / 2);
        max-width: 100%;
        margin: 0!important;
        margin-bottom: 15px!important;

      }
        .flo-image-select label input {
          display: none;
        }
        .flo-image-select label img {
          display: block;
          box-sizing: border-box;
          width: 100%;
        	border: dashed 1px $color-gray;
          margin-bottom: 14px;
          transition: border-color 0.4s;
          border-radius: 15px;
          padding: 7.5px;
          background-color: $color-gray-light;
          @include global-transition(border, background-color);
        }
          .flo-image-select label:hover img,
          .flo-image-select label.selected img {
          	border: solid 1px $color-orange;
            background-color: $color-pastel-blue;
          }

        .flo-image-select label p {
        	margin: 0;
        	font-weight: bold;
        	text-align: center;
          font-family: $font-miller-banner;
          font-weight: 300;
          font-size: 18.5px;
          letter-spacing: -0.02em;
        }
      // Start: Inside Sidebars
        .layout_sidebars.flo-image-select {
          li {
            margin-right: 0!important;
            padding: 5px!important;
            width: calc(100% / 3);
            text-align: center;
          }
        }
      // End: Inside Sidebars

  /* End: Radio Image Select */

  /* START: Checkbox Column classes */
    .acf-field-true-false{
      &--columns-4 {
        width: calc(100% / 4 - 3px);
        display: inline-block;
      }
      &--columns-3 {
        width: calc(100% / 3 - 3px);
        display: inline-block;
        text-align: center;
      }
      &--columns-2 {
        width: calc(100% / 2 - 3px);
        display: inline-block;
        text-align: center;
      }
      &--columns-1 {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  /* END: Checkbox Column classes */

  /* Start: Message Elements */
    .acf-field-message p {
      margin-top: 0;
    }
    .acf-field-message .acf-img {
      display: block;
      width: 100%;
    }
  /* End: Message Elements*/
  .acf-postbox {
    font-family: $font-open-sans;
    // animation: acf-postbox__appear $global-transition-speed $global-easing 0.8s forwards;
    // visibility: hidden;
    @at-root {
      @keyframes acf-postbox__appear {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    }
  }

  @mixin flying {
    box-shadow: 0px 14px 73px -8px #{transparentize($color-black, 0.8)};
    transform: scale(1.04);
  }
  .inside.acf-fields.-top.-sidebar > .acf-tab-wrap.-left > .acf-hl.acf-tab-group,
  .inside.acf-fields.-left.-sidebar > .acf-tab-wrap.-left > .acf-hl.acf-tab-group {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0px!important;
    border-bottom: 1px solid $color-peach-dark!important;
    border-top: 1px solid $color-peach-dark!important;
    @include global-transition(box-shadow, transform);
    // &.fixed_to_bottom {
    //   @include global-transition(box-shadow, transform, top);
    // }
    transform-origin: top;
    padding-left: 20px;
    &[data-mfx-is-fixed="1"]:not(.fixed_to_bottom) {
      @include flying;
      li.active a:after {
        opacity: 0.94!important;
      }
    }
  }

  // in case ACF will glitch and show the custom layout even if disabled (the 5.7.2 ACF core does that sometimes, not sure why)
  .acf-field-tab.acf-hidden + [data-name="custom_layout"] {
    display: none !important;
  }

  // hide specific option if not used within flexible content
    .acf-field--visible-in-layout {
      display: none;
    }
    .acf-field-flo-flexible-content {
      .acf-field--visible-in-layout {
        display: block;
      }
    }
  // hide specific option if not used within flexible content


  @import "admin-acf.scss";
  @import "admin-typography.scss";

  /* START: FULL WIDTH FIELD */
    .acf-field--full-width {
      &:before {
        content: none!important;
      }
      & > .acf-label {
        display: none;
      }
      &.listing-pages-selector > .acf-label {
        display: block;
        width: 100% !important;
        text-align: center;
      }
      &.listing-pages-selector > .acf-label label{
        font-size: 21px;
        font-family: "Miller Banner", sans;
      }
      & > .acf-input {
        width: 100%!important;
      }
    }
  /* END: FULL WIDTH FIELD */

  /* START: NARROW FIELD */
    .acf-field--narrow {
      &:before {
        content: none!important;
      }
      & > .acf-label {
        display: none;
      }
      & > .acf-input {
        width: 640px!important;
        max-width: 100%;
        margin: 0 auto!important;
        float: none!important;
      }
    }
  /* END: NARROW FIELD */

  /* START: LABEL ON TOP FIELD */
    .acf-field--label-on-top {
      &:before {
        content: none!important;
      }
      & > .acf-label {
        width: 100%!important;
      }
      & > .acf-input {
        width: 100%!important;
        padding-top: 0!important;
      }
    }
  /* END: LABEL ON TOP FIELD */

  /* START: FIELD WITH NO TOP BORDER */
    .acf-field--no-top-border {
      border-top: 0!important;
      & > .acf-label {
        padding-top: 0!important;
      }
      & > .acf-input {
        padding-top: 0!important;
      }
    }
  /* END: FIELD WITH NO TOP BORDER */

  /* START: COLOR PICKER */
    .acf-color_picker {
    }
    .acf-field{
      .wp-picker-container{
        position: relative;
        z-index: 100;

        /* START: IRIS */
          .iris-border {
            border: 0;
          }
            .iris-palette-container {
              display: flex;
              flex-wrap: wrap;
              margin-bottom: -5px;
            }
              .iris-palette {
                $size: 30px;
                width: $size;
                height: $size;
                border-radius: $size;
                overflow: hidden;
                box-shadow: none!important;
                border: 1px solid $color-gray;
                box-sizing: border-box;
              }
              .iris-picker .iris-strip.iris-alpha-slider {
                float: right;
                margin-left: 5px !important;
              }
              .wp-picker-input-wrap > label{
                width: 100%;
              }
        /* END: IRIS */

        // Start: Appear Animation
          &:before,
          &:after,
          .wp-picker-input-wrap,
          .wp-picker-holder {
            opacity: 0;
            pointer-events: none;
            @include global-transition(opacity);
          }
          &.wp-picker-active {
            z-index: 9999;
            &:before,
            &:after,
            .wp-picker-input-wrap,
            .wp-picker-holder,
            .wp-picker-clear {
              opacity: 1!important;
              pointer-events: initial;
            }
          }
        // End: Appear Animation

        $specific-options-size: 29px;
        .wp-color-result {
          margin: 0;
          border: 1px solid $color-gray-dark;
          border-radius: $specific-options-size;
          height: $specific-options-size;
          box-shadow: none;
          padding: 0;
          overflow: hidden;
          z-index: 1111;
          span {
            display: none;
          }
          &:before {
            content: " ";
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: $specific-options-size / 2;
            $size: $specific-options-size / 1.52;
            width: $size;
            height: $size;
            border-radius: $size;
            background-color: inherit;
            z-index: 1;
            @include global-transition(background-color);
          }
          &:after {
            content: "Color";
            display: block;
            padding: 0 17.5px 0 36px;
            background-color: white;
            border: 0;
            height: 100%;
            line-height: $specific-options-size;
          }
        }

        $picker-width: 235px;
        $picker-padding: 20px;
        $picker-background-color: $color-white;
        $picker-shadow: 0px 14px 73px -8px #{transparentize($color-black, 0.8)};


        @mixin picker-top($value: 0){
          $picker-top: 20px;
          top: calc(100% + #{$picker-top + $value});
        }

        $picker-first-height: 35px;
        $picker-first-top: $picker-padding;

        $picker-second-height: 233px;
        $picker-second-top: $picker-first-top + $picker-first-height + $picker-padding;

        $picker-height: $picker-padding + $picker-first-height + $picker-padding + $picker-second-height + $picker-padding;

        &:before {
          content: " ";
          position: absolute;
          @include picker-top();
          left: 50%;
          transform: translateX(-50%);
          width: $picker-width + $picker-padding * 2;
          height: $picker-height;
          background-color: $picker-background-color;
          border-radius: 12.5px;
          box-shadow: $picker-shadow;
        }
        &:after {
          content: " ";
          position: absolute;
          @include picker-top();
          left: 50%;
          transform: translate(-50%, -100%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent $picker-background-color transparent;
          box-shadow: $picker-shadow;
        }
        .wp-picker-input-wrap {
          display: flex;
          align-items: stretch;
          position: absolute;
          @include picker-top($picker-first-top);
          left: 50%;
          transform: translateX(-50%);
          width: $picker-width;
          .wp-picker-clear {
            display: inline-block;
            height: auto;
            border-radius: 0;
            box-shadow: none;
            border: 1px solid $color-gray-dark;
            margin: 0!important;
            border-left: 0;
            transform: translate(0);
            opacity: 0;
            @include global-transition(background-color, color, border);
          }
        }
        .wp-picker-holder {
          position: absolute;
          @include picker-top($picker-second-top);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &--title-hidden {
        & > .acf-label {
          display: none;
        }
      }
      &.acf-field-color-picker--float-left{
        .wp-picker-container{
          &:before {
            transform: translateX(-8%);
          }
          .wp-picker-holder {
            transform: translateX(-5%);
          }
          .wp-picker-input-wrap {
            transform: translateX(-2%);
          }
        }
      }
    }
  /* END: COLOR PICKER */

  /* START: Flo New Color Picker */
    .flo-new-color-picker {
      flex-direction: column;
      text-align: center;
      justify-content: center;

      .acf-input,
      .acf-label {
        width: 100%!important;
      }

      &:before {
        width: 100%!important;
      }

      .acf-label {
        padding-bottom: 0!important;
      }

      .wp-picker-container {
        float: none;
        width: 100%;

        .wp-color-result {

          width: 50px;
          height: 50px;
          border-radius: 25px;

          &:after,
          &:before {
            display: none;
          }
        }
      }
    }
    .flo-new-color-picker.no-border {
      border-top: none!important;
    }

    .flo-new-color-picker-4-columns {
      display: inline-flex;
      width: calc(100% / 4 - 3px);
      vertical-align: middle;
      min-height: 150px;
    }
    .flo-new-color-picker-4-columns.no-label {
      .acf-label {
        display: none!important;
      }
    }
    .flo-new-color-picker-4-columns.acf-field-message {
      align-items: center;
      justify-content: flex-end;
      .acf-label {
        text-align: right;
        width: 100%!important;
      }
      .acf-input {
        display: none;
      }
    }
  /* END: Flo New Color Picker */

}

body.block-editor-page:not(.post-type-acf-field-group):not(.wp-customizer) {
  .postbox.acf-postbox {
    display: block;
  }

}

/* START: Styling of Select Field when using StyleUI option */
  .select2-selection.select2-selection--multiple {
   padding: 5px 10px 5px 10px!important;

   li.select2-selection__choice {

     padding: 10px 20px 10px 15px!important;
     border-radius: 18px!important;
     transition: transform 0.5s;

     & .select2-selection__choice__remove {
       margin-right: 0!important;
       padding-right: 5px;
       color: #000000!important;
     }

     &.ui-sortable-helper {
       background-color: black!important;
       border-color: black!important;
       transition: background-color 0.5s,border-color 0.5s;
       box-shadow: 1px 1px 1px #ececec!important;
       cursor: -webkit-grabbing!important;
     }

     &:hover {
       cursor: -webkit-grab!important;
       transform: translateY(-3px);
     }

     &:focus {
        outline: none;
     }

    }
  }
/* END: Styling of Select Field when using StyleUI option */

/* START: CSS FOR FLOTHEME -> 10. STYLE PAGE */
  .flotheme_page_acf-options-10-style {
    .acf-field {
      .wp-picker-container {
        float: left;
      }
    }
  }
/* END: CSS FOR FLOTHEME -> 10. STYLE PAGE */

li.flo-docs {
    float: none;
    width: 100% !important;
    img{
      max-width: 100%;
    }
    a:before{
      content: ''!important;
    }
}

.success{
  color: green;
}

.flo-button__set-primary-menu {
  .spinner-container{
    top: 25px;
    left: 170px;
  }
}

#flo-custom-css-div{
  height: 400px;
}

/* START: FLOTHEME PAGE */
  @import "page-flotheme.scss";
/* END: FLOTHEME PAGE */

/* START: YOUTUBE VIDEOS */
  .acf-input iframe {
    max-width: 100%;
  }
/* END: YOUTUBE VIDEOS */

/* flo-documentation is a class added manually to the message ACF fields. Usually for messages that act as documentation */
.flo-documentation h3{
  font-size: 1.75rem;
}

.flo-documentation img{
  max-width: 100%;
}

.flo-rd-img img{
  max-width: 150px;
}

/* START: POST FORMATS STYLING */

  // Start: Post Format "Aside" -> stylize as "Custom"
    .post-format-icon.post-format-aside {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;

      &:before {
        content: "\f339";
      }
      &:after {
        content: "Custom";
        display: inline-block;
        font-size: 13px;
        line-height: 13px;
      }
    }
  // End: Post Format "Aside" -> stylize as "Custom"

/* END: POST FORMATS STYLING */

.acf-button.button[data-name="add"] {
  position: relative;
}

.flo-wpml-config-regeneration {
  position: relative;

  .spinner-container {
    top: 30px;
  }

  .import-response {
    padding-top: 30px;
  }
}

.import-demo-spinner {
  margin:4px 30px 0;
}

// Hide Slideshow link and preview buttons to avoid confusion

.wp-admin{
  &.post-type-slideshow{
    #titlediv{
      #edit-slug-box{
        display: none;
      }
    }
    #submitdiv{
      .preview.button{
        display: none;
      }
    }
    .submitbox {
      #publish {
        color: white;
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0px 21px;
        border-radius: 30px;
        box-shadow: none;
        text-shadow: none;
        font-size: 9px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: color 0.24s, background-color 0.24s, border-color 0.24s;
        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      }
      #publish{
        background-color: #000;
        border: 1px solid #000;
        @include global-transition(all);
        &:hover {
          background-color: #fff;
          color: #000;
        }
        &.button-primary-disabled{
          background-color: #545454!important;
          color: #bbb !important;
        }
      }
      #minor-publishing-actions,
      #misc-publishing-actions {
        display: none;
      }
    }
  }
}

/*--------------------------------------------------------------------------------------------
* Gutenberg
*--------------------------------------------------------------------------------------------*/
#editor {
  .edit-post-layout__metaboxes {
    padding-bottom: 40px;
    background-color: #ececec;
  }

  .acf-field {
    &:not(.acf-field-wysiwyg) {
      iframe {
        max-width: 560px;
      }
    }
  }

}

/*--------------------------------------------------------------------------------------------
* Clone Section
*--------------------------------------------------------------------------------------------*/

.acf-flo-flexible-content-blocks-popup__item {
     &.hidden {
         display: inline-block !important;
         opacity: 0.3;
         pointer-events: none;
    }
     &s--clone{
         padding: 0 !important;
         height: auto !important;
         &-header{
             width:100%;
             display:flex;
             align-items:center;
             justify-content:space-between;
             border-bottom:1px solid #fff;
             margin:10px 10px;
             padding:10px 0;
             & > span{
                 white-space:nowrap;
                 color:#fff;
                 font-weight:900;
                 text-transform:uppercase
            }
        }
    }
}
 .acf-icon.flo-admin-icon-clone {
     overflow: visible !important;
     &:before {
         font-family: "flo-admin-icons";
         font-size: 10px;
    }
     &:after {
         content: 'saved';
         position: absolute;
         bottom: -28px;
         background: #eb6042;
         color: #fff;
         font-weight: 600;
         font-size: 11.5px;
         line-height: 1.4em;
         padding: 0 10px;
         border-radius: 22px;
         height: 22px;
         display: flex;
         align-items: center;
         justify-content: center;
         opacity: 0;
         visibility: hidden;
         transition: 0.24s;
         transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
     &.saved:after {
         opacity: 1;
         visibility: visible;
    }
}
 .acf-flo-refresh-clone.acf-icon.-sync{
     color:#fff;
     background:no-repeat;
     font-size:11px;
     display:flex;
     align-items:center;
     justify-content:center;
     width: 22px;
     height: 22px;
     padding: 0 !important;
     text-align:center;
     &:hover{
         background:#eb6042
    }
}



/*--------------------------------------------------------------------------------------------
* Image position
*--------------------------------------------------------------------------------------------*/
.partial-hidden {
  top: -100vw;
  height: 0;
  padding: 0 !important;
  border: 0 !important;
  position: absolute !important;
}

.wp-admin {
  & .flo-featured-image-position-trigger {
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
    z-index: 100;
  }
  #postimagediv {
    .flo-featured-image-position-trigger {
      top: 20%;
      right: 10%;
    }
  }

  .editor-post-featured-image {
    position: relative;
  }
}

.flo-featured-image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(255,255,255,0.5);

  .flo-featured-image-popup-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 30vw;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.05);

    .flo-admin-icon-close {
      position: absolute;
      top: 25px;
      right: 15px;
      font-size: 20px;
      cursor: pointer;
      transition: color 0.4s;
      &:hover {
        color:#ec6042;
      }
    }

    .flo-featured-image-position-popup {
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }

    .flo-featured-image-position-popup--aim {
      position: absolute;
      width: 20px;
      height: 20px;
      background:#404040;
      border:2px solid #fafafa;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0 40px 40px rgba(255, 255, 255, 0.5);
      -moz-box-shadow: 0px 0 40px 40px rgba(255, 255, 255, 0.5);
      box-shadow: 0px 0 40px 40px rgba(255, 255, 255, 0.5);
    }

    h1 {
      font-family: "Miller Banner";
    }
  }
}


/*-------------------------------------------------------------------------------------------- * Intro Section *--------------------------------------------------------------------------------------------*/
 .flo-options-intro {
     &__wrapper {
         &-head {
             display: flex;
             justify-content: space-between;
             padding: 1.675rem .75rem;
             align-items: center;
             &.in {
                 display: none
            }
        }
         &--container {
             box-shadow: 0px 0px 30px 5px rgba(176,176,176,0.3);
             border-radius: 10px;
             padding: 2.75rem;
             &.in {
              max-height: 0;
              padding: 0 2.75rem;
              overflow: hidden;
            }
        }
         &--title {
             font-weight: 600;
             font-size: 27px;
             line-height: 1.4em;
             margin: 0;
             font-family: "Miller Banner", sans;
        }
        &--message {
          font-weight: 600;
          font-size: 11.5px;
          line-height: 1.4em;
          color: #444;
        }
         &--arrows {
             display: flex;
             justify-content: space-between;
             position: relative;
             align-items: center;
             margin-top: 2rem;
             &.in {
                 display: none
            }
             .slick-arrow {
                 background: transparent;
                 border-radius: 100%;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 text-align: center;
                 width: 40px;
                 height: 40px;
                 color: #444;
                 border-color: #444;
                 outline: none;
                 &:hover {
                     cursor: pointer;
                }
            }
             .slick-dots {
                 position: absolute;
                 display: flex !important;
                 flex-direction: row;
                 width: auto;
                 left: 50%;
                 top: 50%;
                 transform: translate(-50%, -50%);
                 margin: 0;
                 li {
                     margin-bottom: 0;
                     font-size: 0;
                     button {
                         padding: 0;
                         border: 0;
                         width: 6px;
                         height: 6px;
                         background-color: #e9e9e9;
                         margin: 5px;
                         border-radius: 100%;
                         outline: none;
                    }
                     &.slick-active {
                         button {
                             background-color: #292927;
                        }
                    }
                }
            }
        }
    }
     &__item {
         &-inner {
             display: flex;
             flex-direction: column;
             justify-content: space-between;
             flex-grow: 1;
             height: 100%;
             min-height: 25rem;
             display: flex;
             border-radius: 10px;
             flex-direction: column;
             justify-content: space-between;
             align-items: flex-start;
             padding: 1rem;
             background-color: #fbf7f4;
             margin: 0.3rem;
             position: relative;
        }
         &-body {
             margin-bottom: 3rem;
        }
         &-head {
             width: 100%;
             display: flex;
             justify-content: space-between;
             h5 {
                 margin: 0.67em 0;
            }
        }
         &--title {
             font-family: "Miller Banner", sans;
             font-size: 2.25em;
             font-weight: 100;
             line-height: 1.75;
        }
         &--close-toggle {
             margin-left: auto;
             font-weight: 600;
             font-size: 11.5px;
             line-height: 1.4em;
             color: #444;
             text-decoration: none;
             &:hover {
               color: #444;
               text-decoration: underline;
             }
        }
         &--open-toggle {
             margin-left: auto;
             font-weight: 600;
             font-size: 12px;
             line-height: 1.4em;
             color: #444;
             text-decoration: none;
             position: absolute;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             display: flex;
             justify-content: flex-start;
             align-items: flex-end;
             padding: 23px 1rem;
             &:hover {
               color: #444;
               text-decoration: underline;
             }
        }
    }
     &-popup__wrapper{
         display: none;
         transition: 0.8s;
         // max-height: 0;
         &.in {
             display: block;
        }
         &-head {
             display: flex;
             justify-content: space-between;
             padding: 1.675rem .75rem;
             align-items: center;
        }
         &-blocks {
             border-radius: 10px;
             box-shadow: 0px 0px 30px 5px rgba(176,176,176,0.3);
             background: #fff;
             img {
                 max-width: 100%;
                 display: block;
                 height: auto;
              }
        }
         &-footer {
             border-top: 1px solid #fbf7f4;
             display: flex;
             justify-content: space-between;
             margin-left: 2.75rem;
             margin-right: 2.75rem;
             padding: 2rem 0;
             &-index {
                 font-weight: 600;
                 font-size: 12px;
                 line-height: 1.4em;
                 color: #444;
                 text-decoration: none;
            }
             &-total {
                 color: #444;
                 font-weight: 600;
                 font-size: 12px;
                 line-height: 1.4em;
                 text-decoration: none;
            }
             &-navigation {
                 [class^=flo-options-intro__item] {
                     color: #444;
                     font-weight: 600;
                     font-size: 12px;
                     line-height: 1.4em;
                     text-decoration: none;
                     padding-left: 2rem;
                     outline: none !important;
                     box-shadow: none;
                     &.in {
                         opacity: 0.3;
                         pointer-events: none;
                    }
                    &:not(.in) {
                      &:hover {
                        color: #444;
                        text-decoration: underline;
                      }
                    }
                }
                 .flo-options-intro__item--next-item {
                     margin-left: 2rem;
                     border-left: 1px solid #444;
                }
            }
        }
    }
     &--video_block{
         // display: flex !important;
         flex-wrap: wrap;
         &-column {
             padding: 2.25rem 2.75rem 2.75rem;
             box-sizing: border-box;
             text-align: left;
             width: 50%;
             .acf-video-tutorial__embed-wrap {
                 width: 100%;
                 margin: 0;
                 margin-bottom: .75rem;
            }
            h5 {
                margin-top: 0;
            }
        }
         &-title {
             font-family: "Miller Banner", sans;
             padding: 2.75rem;
             padding-bottom: 0;
             margin-bottom: 0;
             font-size: 2.25em;
             line-height: 1;
             font-weight: 100;
             width: 100%;
             margin-top: 0
        }
    }
}

@import "flo-admin-site-preview/flo-admin-site-preview.scss";
