.flo-block-gallery-view-1 {
  $b: ".flo-block-gallery-view-1";

  &--title-area-position-below {
    #{$b}__content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
      #{$b}__title-area {
        order: 1;
      }
  }

  &__placeholder {
    display: none;
    @include global-transition(height);
  }
  &__header-area {

  }
  &__title-area {

  }
    &__back-button-wrap {

    }
      &__back-button {

      }
    &__title-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
      &__title {
        margin-bottom: rem-calc(12);
      }
      &__category {
        opacity: 0.4;
      }
    &__counter-wrap {
      height: rem-calc(30);
    }
      &__counter {
        display: inline-flex;
        align-items: center;
      }
        &__counter-index {

        }
        &__counter-separator {
          height: rem-calc(30);
          border-left: 1px solid;
          transform: rotate(30deg);
          margin: 0 rem-calc(20);
        }
        &__counter-count {

        }
  &__images-wrap {
  }
    &__images {

    }
      &__image-wrap {
        position: relative;
      }
        &__image {

        }
    &__arrow {
      $size: 45px;
      width: $size;
      height: $size;
      border-radius: $size;
      overflow: hidden;
      border: 1px solid;

      i {
        transform-origin: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &--prev {

        i:before {

          margin-right: .3em;

        }
      }

      &--next {

        i:before {
          margin-left: .3em;
        }
      }
    }
      &__arrow-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 45px;
      }

  @include breakpoint(medium up) {

    &--title-area-position-below {

      #{$b}__title-area {
        padding-top: rem-calc(40);
        padding-bottom: 0;
      }
    }

    &--stuck-to-top-disabled {
      #{$b}__placeholder {
        display: block;
      }
      #{$b}__content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    &__header-area {
    }
    &__title-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem-calc(40) $global-padding--horizontal;
      padding-top: 0;
    }
      &__back-button-wrap {
        width: 20%;
      }
        &__back-button {

        }
      &__title-wrap {
      }
        &__title {

        }
        &__category {

        }
      &__counter-wrap {
        width: 20%;
        text-align: right;
      }
        &__counter {

        }
          &__counter-index {

          }
          &__counter-separator {

          }
          &__counter-count {

          }
    &__images-wrap {
      position: relative;
    }
      &__images {

      }
        &__image-wrap {
          text-align: center;
        }
          &__image {
            display: inline-block!important;
          }
      &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: rem-calc(14);
        @include global-clickable;
        &--prev {
          left: $global-padding--horizontal;
        }
        &--next {
          right: $global-padding--horizontal;
        }
      }
  }

  @include breakpoint(small only) {
    opacity: 0;
    @include global-transition(opacity);
    &__header-area {

    }
    &__title-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: rem-calc(20);
    }
      &__back-button-wrap {
        margin-bottom: rem-calc(20);
      }
        &__back-button {

        }
      &__title-wrap {
        margin-bottom: rem-calc(20);
      }
        &__title {

        }
        &__category {

        }
      &__counter-wrap {
        height: rem-calc(30);
        width: 100%;
        position: relative;
      }
        &__counter {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
          &__counter-index {

          }
          &__counter-separator {

          }
          &__counter-count {

          }
    &__images-wrap {
      position: relative;
    }
      &__images {

      }
        &__image-wrap {

        }
          &__image {
            width: 100%;
          }
      &__arrow {
        position: absolute;
        top: rem-calc(20);
        font-size: rem-calc(12);
        &--prev {
          left: $global-padding-mobile--horizontal;
        }
        &--next {
          right: $global-padding-mobile--horizontal;
        }
      }
  }
}
