.flo-block-contact-block-2__form-section--custom input[type]:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.flo-block-contact-block-2__form-section--custom textarea,
.app-flo-forms .form-preview .form-group.field-checklist .listbox,
.app-flo-forms .form-preview .radio-list,
.app-flo-forms .form-preview .field-checkbox {
  padding: 16px;
  border-bottom: 0 !important;
  background-color: #fefefe;
  box-shadow:
    inset 0px 0px 0px 1px #cacaca;
}
.flo-block-contact-block-2__form-section--custom input[type]:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus,
.flo-block-contact-block-2__form-section--custom textarea:focus {
    box-shadow:
      inset 0px 0px 0px 1px #cacaca,
      inset 0px 0px 5px 2px #ffcc00;
}

/* Custom Checkbox / Radio
.flo-block-contact-block-2__form-section--custom input[type="radio"],
.flo-block-contact-block-2__form-section--custom input[type="checkbox"] {
  display: none;
}
.list-row label::before,
.list-row label::after {
  content: "";
  position: absolute;
  display: inline-block;
}
.list-row label::before {
  height: 16px;
  width: 16px;
  border: 1px solid;
}
.list-row label::after {
  height: 6px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 0px;
  top: 3px;
}
.flo-block-contact-block-2__form-section--custom input[type="checkbox"] + label::after {
  content: none;
}
.flo-block-contact-block-2__form-section--custom input[type="checkbox"]:checked + label::after {
  content: "";
}
.flo-block-contact-block-2__form-section--custom input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}
*/


.list-row,
.app-flo-forms .form-preview .radio-list label {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.list-row .is-checked label {
  text-transform: uppercase;
}

.list-row label {
  font-weight: 200;
  cursor: pointer;
}

.app-flo-forms .form-preview .form-group.field-checklist .listbox,
.app-flo-forms .form-preview .radio-list {
  flex-flow: column nowrap !important;
  padding-left: 16px;
}

.flo-block-contact-block-2 .flo-form label {
  text-align: left !important;
}
.flo-block-contact-block-2 .flo-form .field-wrap {
  margin-left: 8px;
  margin-right: 8px;
}

.form-group:not(.field-checkbox) > label {
  color: #fc0;
}

.field-checkbox {
  margin: 0px !important;
  padding: 0px !important;
  align-items: center !important;
  justify-content: flex-start;
}
.field-checkbox > label {
  margin-top: 0px !important;
}
.field-checkbox.field-wrap {
  align-items: center;
}

.app-flo-forms input[type="text"], .app-flo-forms input[type="email"], .app-flo-forms input[type="number"], .app-flo-forms select {
  height: 4em !important;
}