.flo-block-contact-block-2__form-section--custom input[type]:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
.flo-block-contact-block-2__form-section--custom textarea,
.app-flo-forms .form-preview .form-group.field-checklist .listbox,
.app-flo-forms .form-preview .radio-list,
.app-flo-forms .form-preview .field-checkbox {
  padding: 16px;
  border-bottom: 0 !important;
  background-color: #fefefe;
  box-shadow:
    inset 0px 0px 0px 1px #cacaca;
}
.flo-block-contact-block-2__form-section--custom input[type]:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus,
.flo-block-contact-block-2__form-section--custom textarea:focus {
    box-shadow:
      inset 0px 0px 0px 1px #cacaca,
      inset 0px 0px 5px 2px #ffcc00;
}

.list-row,
.app-flo-forms .form-preview .radio-list label {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.list-row .is-checked label {
  text-transform: uppercase;
}

.list-row label {
  font-weight: 200;
  cursor: pointer;
}

.app-flo-forms .form-preview .form-group.field-checklist .listbox,
.app-flo-forms .form-preview .radio-list {
  flex-flow: column nowrap !important;
  padding-left: 16px;
}

.flo-block-contact-block-2 .flo-form label {
  text-align: left !important;
}
.flo-block-contact-block-2 .flo-form .field-wrap {
  margin-left: 8px;
  margin-right: 8px;
}

.form-group:not(.field-checkbox) > label {
  color: #333;
}
.form-group.conditional-value > label {
  color: #666;
  margin-left: 8px;
  font-size: 0.8rem;
}
.form-group.required > label::after {
  content: "*";
  color: #f00;
}


.field-checkbox {
  margin: 5px 5px 5px 13px !important;
  padding: 8px !important;
  align-items: center !important;
  justify-content: flex-start;
  width: calc(100% - 25px) !important;
}
.field-checkbox > label {
  margin-top: 0px !important;
}
.app-flo-forms input[type="text"], .app-flo-forms input[type="email"], .app-flo-forms input[type="number"], .app-flo-forms select {
  height: 4em !important;
}

