.acf-flo-stylekit-shop {
  $b: ".acf-flo-stylekit-shop";

  text-align: center;

  &__promo-slideshow-wrap {
    position: relative;
    margin-bottom: 45px;
  }
    &__promo-slideshow {
    }
      &__promo-slide {
      }
        &__promo-slide-content {
          position: relative;
        }
          &__promo-slide-image {
            width: 100%;
          }
          &__promo-slide-anchor {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
    &__promo-slideshow-arrow {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      $size: 30px;
      width: $size;
      height: $size;
      border-radius: $size;
      overflow: hidden;

      background-color: $color-black;
      color: white;

      cursor: pointer;
      user-select: none;

      @include global-transition(opacity);
      &:hover {
        opacity: 0.8;
      }

      &--prev {
        left: 0;
        transform: translate(-50%, -50%);
      }
      &--next {
        right: 0;
        transform: translate(50%, -50%);
      }
    }

  &__title {
    font-size: 21px;
    font-family: "Miller Banner", sans;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.3em;
    padding: 0 28px 25px;
  }

  &__subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0 70px;
    margin-bottom: 30px;
  }

  &__stylekits-and-preview {
    display: flex;
    align-items: flex-start;
  }
    &__stylekits {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box;
      @include global-transition(width);
    }
      &__stylekit {
        margin-right: 25px;
        margin-bottom: 30px;
        &:hover,
        &--active {
          #{$b}__stylekit-thumb-wrap {
            border-color: $color-orange;
          }
        }
        &--discounted {
          #{$b}__stylekit-price {
            color: $color-orange;
          }
        }
      }
        &__stylekit-thumb-wrap {
          position: relative;
          $size: 185px;
          width: $size;
          height: $size;
          border: solid 1px $color-gray;
          background-color: $color-gray-light;

          border-radius: 7.5px;
          margin-bottom: 22.5px;
          cursor: pointer;
          user-select: none;
          @include global-transition(border-color, width, height);
        }
          &__stylekit-thumb {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            $size: calc(100% - 25px);
            width: $size;
            height: $size;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
          &__stylekit-top-label {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            border-radius: 7.5px;
            padding: 3px 7px;
            background-color: $color-orange;
            color: white;
          }
        &__stylekit-name {
          display: inline-block;
          font-family: "Miller Banner";
          font-size: 18px;
          position: relative;
        }
          &__stylekit-price {
            font-family: "Open Sans", sans-serif;
            font-size: 11px;
            line-height: 1.5;
            position: absolute;
            bottom: 70%;
            left: 100%;
          }
    &__right-wrap {
      display: none;
      flex-grow: 0;
      flex-shrink: 0;
      width: 50%;
      box-sizing: border-box;
      padding-left: 33px;
      border-left: 1px solid $color-gray;
    }
      &__right-wrap-title {
        font-size: 21px;
        font-family: "Miller Banner", sans;
        font-weight: 300;
        letter-spacing: -0.02em;
        line-height: 1.3em;
        padding: 0 28px 25px;
      }
      &__right-wrap-description {
        margin-bottom: 28px;
        padding: 0 20px;
      }
      &__right-wrap-purchase-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 29px;
        padding: 0 20px;
      }
        &__right-wrap-price {
          width: 30%;
          text-align: left;
          font-size: 25px;
        }
        &__apply-button {
          margin: 0 20px;
          margin-bottom: 33.5px;
        }
        &__test-drive-button {
          display: block;
          width: 30%;
          text-align: right;
          font-weight: bold;
          cursor: pointer;
          user-select: none;
          text-decoration: none;
          color: $color-black;
        }
      &__preview-wrap {
        position: relative;
        border-radius: 5px;
        background-color: $color-gray-light;
        border: 1px solid $color-gray;
        margin-bottom: 25px;
      }
        &__preview-loading {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &__preview {
          position: relative;
          width: 100%;
          height: 600px;
          background-size: 35%;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0;
          pointer-events: none;
          @include global-transition(background-size, opacity);
          &[data-img-loaded="true"] {
            opacity: 1;
            pointer-events: initial;
          }
        }
          &__preview-navigation-box {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 80%;
          }
      &__right-wrap-note {
        text-align: left;
        padding-left: 20px;
      }

  &--preview-open {
    #{$b}__stylekits {
      padding-right: 33px;
      width: 50%;
    }
    #{$b}__stylekit-thumb-wrap {
      $size: 130px;
      width: $size;
      height: $size;
    }
    #{$b}__right-wrap {
    }
  }

}
