/* BOF WOOCOMMERCE SUPPORT */
  .flo-woocommerce-wrap{
    max-width: rem-calc(1000);
    margin: 0 auto;
  }
.woocommerce-page{
  .flo-block{
    padding-top: 0px;
  }
  .flo-post a{
    text-decoration: none;
  }

  .flo-post {
    .woocommerce-error {
      padding: 1em 2em 1em 3.5em;
    }
  }
}
.woocommerce{
    
    thead, tbody, tfoot{
      border: 0px;
      background: transparent;
    }
    .flo-post a{
      text-decoration: none;
    }
    .quantity{
      .qty, input[type="number"]{
        width: 5em;
        height: rem-calc(25);
        padding: 0.1em;
        border-color: #e5e5e5;
        font-size: 1rem;
      }
    }

    .woocommerce-breadcrumb{
      a{
        box-shadow: 0 1px 0;
        text-decoration: none;
        &:hover{
          box-shadow: 0 3px 0;
        }
      }
    }

    .cart{
      input.button:disabled{
        color: #ffffff;
      }
    }

    span.onsale{
      padding: 0;
    }

    ul.products{
      li.product{
        .price del{
          display: inline-block;
        }
      }
      a.button{
        padding: 0.6em 0.8em;
      }
    }
    div.product{
      .variations{
        td.label{
          background-color: transparent;
          padding-top: 20px;
          vertical-align: middle;
        }
        .value{
          select{
            margin-bottom: 0;
          }
        }
        .reset_variations{
          box-shadow: 0 1px 0;
          &:hover{
            box-shadow: 0 3px 0;
          }
        }
      }
      .product_meta{
        a{
          box-shadow: 0 1px 0;
          &:hover{
            box-shadow: 0 3px 0;
          }
        }
        .tagged_as{
          clear: both;
          display: block;
        }
      }
      .related{
        h2{
          margin-bottom: rem-calc(15);
        }
      }
      .woocommerce-tabs{
        li.active a, a:hover {
          box-shadow: 0 3px 0;
        }
        a{
          box-shadow: 0 1px 0;
        }

        .panel{
          margin-bottom: 4em;
        }

        ul.tabs{
          border: 0px;
          overflow: visible;
          padding-left: 5px;
          background-color: transparent;
          &:before{
            border: 0px;
          }
          li{
            border: 0px;
            background-color: transparent;
            &.active{
              background-color: transparent;
            }
            &:before, &:after{
              border: 0px;
              box-shadow: none;
            }
            &:first-child{
              padding-left: 0;
            }
          }
        }
      }

    }

    .checkout{
      #customer_details{
        margin-bottom: rem-calc(30);
      }
      .wc_payment_method{
        .input-radio{
          position: relative;
          height: auto;
        }
      }
    }
    p.woocommerce-thankyou-order-received{
      margin-bottom: rem-calc(20) !important;
    }

    .woocommerce-thankyou-order-details{
      padding-left: 0;
      margin-bottom: rem-calc(40);
      li{
        list-style: disc;
        border-right: 0px;
        clear: both;

        strong{
          display: inline-block;
        }
      }
      
    }

    .woocommerce-MyAccount-content{
      .addresses{
        margin-top: rem-calc(30);
      }
      .woocommerce-Message{
        br{
          display: none;
        }
      }

      .button {
        margin-top: 20px;
      }

      .woocommerce-Message, .shop_table {
        .button {
          margin-top: 0;
        }
      }
    }
    .woocommerce-MyAccount-navigation{
      .is-active{
        a{
          box-shadow: 0 3px 0;
          &:hover{
            box-shadow: 0 3px 0;
          }
        }
      }
      a:hover{
        box-shadow: 0 1px 0;
      }
    }
    .woocommerce-Address-title{
      .edit{
        clear: both;
        margin-top: rem-calc(30);
        float: left !important;
        box-shadow: 0 1px 0;
        &:hover{
          box-shadow: 0 3px 0;
        }
      }
    } 

    .order_details{
      .product-name{
        a{
          box-shadow: 0 1px 0;
          &:hover{
            box-shadow: 0 3px 0;
          }
        }
      }
      li {
        border-right: 0px !important;
        margin-bottom: 10px;
      }
    }
    .actions{
      .coupon{
        input[type="submit"]{
          height: 2.625rem;
          text-decoration: none !important;
        }

        
      }
      p{
        margin-bottom: 0px;
      }
      input.button[type="submit"]{
          height: 2.625rem;
          text-decoration: none !important;
          color: #515151;
        }
    }
    form, table{
      p{
        margin-bottom: 0px !important;
      }
    }
    .order-number{
      a{
        br{
          display: none;
        }
      }
    }
    #coupon_code{
      min-width: 15em;
      height: 2.55rem;
    }
    .button{
      br{
        display: none;
      }
    }
    .single_add_to_cart_button.button, .single_add_to_cart_button.button.disabled{
      padding: 0.40em 0.5em;
    }
    .wc-proceed-to-checkout{
      p{
        margin-bottom: 0 !important;
      }
      .checkout-button{
        margin-bottom: 0 !important;
      }
    }
    input[type='submit']{
      text-decoration: none !important;
    }
    input[type]:not([type="submit"]), textarea{
    	border: 1px solid;
    	padding: rem-calc(8);
    }
    textarea{
    	background-image: none !important;
    	//border: 1px solid;
    	margin-bottom: rem-calc(20);
    	line-height: 1rem !important;
    }

    a.button.loading::after {
      right: -2em;
    }

    .woocommerce-Reviews-title {
      margin-bottom: 20px;
    }

    .comment-form {
      .comment-notes, .comment-form-author, .comment-form-email, .comment-form-rating {
        margin-bottom: rem-calc(20) !important;
      }

      .comment-notes {
        font-size: rem-calc(11);
      }
    }

}

/* EOF WOOCOMMERCE SUPPORT */
