
.flo-icon-line-arrow-right:before { content: '\e800'; } /* '' */
.flo-icon-line-arrow-left:before { content: '\e801'; } /* '' */
.flo-icon-play:before { content: '\e802'; } /* '' */
.flo-icon-close:before { content: '\e803'; } /* '' */
.flo-icon-yahoo:before { content: '\e804'; } /* '' */
.flo-icon-delicious:before { content: '\e805'; } /* '' */
.flo-icon-mail:before { content: '\e806'; } /* '' */
.flo-icon-align-right:before { content: '\e807'; } /* '' */
.flo-icon-camera:before { content: '\e808'; } /* '' */
.flo-icon-down-dir:before { content: '\e809'; } /* '' */
.flo-icon-up-dir:before { content: '\e80a'; } /* '' */
.flo-icon-right-dir:before { content: '\e80b'; } /* '' */
.flo-icon-left-dir:before { content: '\e80c'; } /* '' */
.flo-icon-comment-1:before { content: '\e80d'; } /* '' */
.flo-icon-reply-1:before { content: '\e80e'; } /* '' */
.flo-icon-plus:before { content: '\e80f'; } /* '' */
.flo-icon-close-icon:before { content: '\e810'; } /* '' */
.flo-icon-play-1:before { content: '\e811'; } /* '' */
.flo-icon-stop:before { content: '\e812'; } /* '' */
.flo-icon-pause:before { content: '\e813'; } /* '' */
.flo-icon-menu-trigger:before { content: '\e814'; } /* '' */
.flo-icon-triangle-arrow-right:before { content: '\e815'; } /* '' */
.flo-icon-triangle-arrow-left:before { content: '\e816'; } /* '' */
.flo-icon-search:before { content: '\e817'; } /* '' */
.flo-icon-arrow-down:before { content: '\e818'; } /* '' */
.flo-icon-ok-circled:before { content: '\e81e'; } /* '' */
.flo-icon-layout:before { content: '\e833'; } /* '' */
.flo-icon-pause-1:before { content: '\e834'; } /* '' */
.flo-icon-dot:before { content: '\f111'; } /* '' */
.flo-icon-youtube:before { content: '\f167'; } /* '' */
.flo-icon-instagram:before { content: '\f16d'; } /* '' */
.flo-icon-flickr:before { content: '\f303'; } /* '' */
.flo-icon-vimeo:before { content: '\f306'; } /* '' */
.flo-icon-twitter:before { content: '\f309'; } /* '' */
.flo-icon-facebook:before { content: '\f30c'; } /* '' */
.flo-icon-gplus:before { content: '\f30f'; } /* '' */
.flo-icon-pinterest:before { content: '\f312'; } /* '' */
.flo-icon-tumblr:before { content: '\f315'; } /* '' */
.flo-icon-linkedin:before { content: '\f318'; } /* '' */
.flo-icon-dribbble:before { content: '\f31b'; } /* '' */