.flo-page-has-sidebar__sidebar{
  z-index: 9;
}

.flo-slider-arrow{
 z-index: 9;
}

.flo-page-hero__logo {
  z-index: 11;
}

.flo-header{
  z-index: 999999;
}

.flo-page-about-type-a__featured-info{
  z-index: 9;
}
.flo-block-slideshow-1__navigation {
  z-index: 3;
}
